<template name="new">
  <h1>Create A New Market</h1>
  <p>If you'd like to sell something, complete the form below</p>
  <form>
    <input type="text" placeholder="Title - e.g. Super Toothbrush" name="title">
    <br>
    <input type="text" placeholder="Category - e.g. tech" name="category">
    <br>
    <textarea placeholder="Description - e.g. The world's best toothbrush" name="description"></textarea>
    <br>
    <input type="number" placeholder="Price in Wei - e.g. 9001" name="price">
    <br>
    <input type="number" placeholder="Stock Available - e.g. 1" name="stock">
    <br>
    <input type="text" placeholder="Image - e.g. https://ipfs.pics/ipfs/Q..." name="image">
    <br><br>
    <button class='dapp-block-button'>Submit new market</button>
  </form>
</template>