<template name="market">
  {{#if market}}
    <div class="row market-item">
      <div class="col col-8">
        <h1>{{market.title}}</h1>
        <h2>{{market.category}}</h2>
        {{#if market.image}}
          <p>
            <img class='market-image' src="{{market.image}}" alt="{{market.title}}">
          </p>
        {{/if}}
        {{#markdown}}{{market.description}}{{/markdown}}
      </div>
      <div class="col col-4">
        <h3>Price: <b>{{market.price}}</b></h3>
        {{> dapp_selectAccount accounts=myAccounts showAccountTypes=true}}
        <br>
        {{> buyButton contract=market.contractAddress}}
      </div>
    </div>
  {{else}}
    <p>Couldn't find the market..</p>
  {{/if}}
</template>